<html ng-app="myApp">
<head>
<title>FOODMONK</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="js/controllers.js"></script>
</head>
<body>
<div ng-controller="ContactController">
<table align="center">
 <tr>
  <td><input type="text" ng-model="queryText"  ng-change="search()" placeholder="Search here"/></td>
 </tr>
 <tr>
  <td>You searhing for:</td><td><p>{{ queryText }}</p></td>
 </tr>
 <tr>
   <td>Results:</td>
 </tr>
 <tr>
  <td><p style='color:green'>{{artists.location[0].name}}</p></td>
 </tr>
</table>
</div>
</body>
</html>
